* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body {
    background-color: linen;
}
.box{
    border: black solid 2px;
    padding: 15px;
    border-radius: 15px;
    width: 600px;
}
ul li {
    text-decoration: none;
    list-style: none;
}
h1 {
    color: rgb(245, 94, 120);
    padding-bottom: 10px;
    border-bottom: purple dotted 10px;
}
h3 {
    font-style: italic;
}
.box2 {
    padding: 5px;
    border: 5px solid purple;
    background-color: #eeeeee;
    border-radius: 10px;
}
.green {
    color: green;
}
.red {
    color: red;
}